$white: #ffffff;
$gray: #4c5865;
$light-gray: #7d90a6;
$dark-gray: #333940;
$black: #212529;

$dull-blue: #667380;
$light-blue: #a3b8cc;
$blue: #7cdaf9;
$dark-blue: #1e5466;

$violet: #9747ff;
$orange: #ff7e22;
$red-orange: #ff5722;